
INDIAN_KANOON_API_KEY=a410f4ccfdc36fb6cd1da7fb76450212db9b5d94
INDIAN_KANOON_BASE_URL=https://api.indiankanoon.org

HUGGINGFACE_API_TOKEN=hf_your_huggingface_access_token_here
HUGGINGFACE_DATASET_URL=https://datasets-server.huggingface.co
HUGGINGFACE_AIBE_DATASET_NAME=opennyaiorg/aibe_dataset

LIVELAW_RSS_URL=https://news.google.com/rss/search?q=Supreme+Court+India+law&hl=en-IN&gl=IN&ceid=IN:en
BAR_AND_BENCH_RSS_URL=https://news.google.com/rss/search?q=Supreme+Court+India+law&hl=en-IN&gl=IN&ceid=IN:en

INDIA_CODE_BASE_URL=https://www.indiacode.nic.in

GOOGLE_CLIENT_ID_WEB=your_google_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_ID_ANDROID=your_google_android_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_ID_IOS=your_google_ios_client_id.apps.googleusercontent.com

APP_ENV=development
ENABLE_NETWORK_CACHE=true
HTTP_CONNECT_TIMEOUT_SECONDS=10
